<div class="row">

</div>

<div class="row">
  <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
    <div class="col-xs-12" style="margin-bottom: 15px">
      <button class="btn btn-success" type="submit" [disabled]="recipeForm.invalid">Save</button>
      <button class="btn btn-danger" type="button" (click)="onCancel()">Cancel</button>
    </div>
    <div class="col-xs-12">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" name="name" class="form-control" id="name" formControlName="name">
      </div>
      <div class="form-group">
        <label for="imagePath">Image URL</label>
        <input type="text" name="imagePath" class="form-control" id="imagePath" formControlName="imagePath">
      </div>
      <img [src]="recipeForm.get('imagePath').value" class="img-responsive">
      <div class="form-group">
        <label for="desc">Description</label>
        <textarea name="description" class="form-control" id="desc" rows="6" formControlName="description"></textarea>
      </div>
    </div>
    <div class="row" formArrayName="ingredients">
      <div class="col-xs-12" *ngFor="let ingredientCtrl of recipeForm.get('ingredients')['controls']; let i = index"
        [formGroupName]="i">
        <div class="col-xs-7">
          <div class="form-group">
            <input type="text" class="form-control" formControlName="name">
          </div>
        </div>
        <div class="col-xs-2">
          <div class="form-group">
            <input type="number" class="form-control" formControlName="amount">
          </div>
        </div>
        <div class="col-xs-3">
          <button class="btn btn-danger" (click)="deleteIngredient(i)">X</button>
        </div>
      </div>
    </div>
    <div class="col-xs-12">
      <button class="btn btn-success" type="button" (click)="addIngredientCtrl()">Add Ingredient</button>
    </div>
  </form>
</div>